
.topnav{
  padding-top: 10px;
  width: 100%;
  background-color: #FFF4F2;
  /* opacity: .9; */
  float:right;
}
.topnav li {
  display:inline;
  text-decoration: none;
  text-align: center;
  font-family: "Recoleta Bold";
  padding-right: 20px;
  font-size: 23px;
 

}
.topnav li a{
  text-decoration: none;
  color: #6C5B7B;
  float: right;
  padding-right: 20px;
  padding-top: 5px;
}
.topnav li a:hover{
  /* background-color: #ddd; */
  color: white;
}
#github{
  float: left;
  padding-left: 10px;
}
#lines{
  padding-top: 100px;
  float:right;
  /* transform: scale(1.2); */
  padding-right: 55px;
}

h1{
    font-family: "Recoleta Bold";
    color: #6C5B7B;
    background-color: #FFDFD3;
    text-align: left;
    padding-left: 150px;
    padding-top: 150px;
    font-size: 60px;
}
@font-face {
  font-family: "Modern Era";
  src: url(modern-era-black.ttf);
}

h3{
  font-family: "Modern Era";
  padding-left: 150px;
  padding-right: 150px;
  font-size: 25px;
  font-weight: normal;
  padding-top: 75px;
  color: #2B192E;
}
#description{
  overflow-wrap:break-word;
  font-size: 25px;
  font-family: "Recoleta Bold";
  color: #6C5B7B;
  padding-left: 150px;
  padding-top: 20px;

}
#skills{
  text-align: center;
  padding-left: 0px;
  font-family: "Recoleta Bold";
  padding-top: 20px;
  color: #6C5B7B;
  font-size: 40px;

}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 37px auto 0;
  width: calc(280px * 4);
}
.card {
  /* box-shadow: 0 3px 10px 0 #aaa; */
  cursor: pointer;
  height: 350px;
  position: relative;
  background-color: #FFF4F2;
  width: 243px;
  border-radius: 1.5em;
  overflow: hidden;
}

.card h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  font-family: "Modern Era";
  color:black;
}

.card.visited {
  box-shadow: 0 3px 10px 2px #444;
}
@media only screen and (max-width: 600px) {
  .container{
      max-width:100% !important;
      padding-left:0px;
      padding-right:0px;

  }
  h3{
    max-width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
  #sp{
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media (max-width: 1100px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    width: calc(280px * 2);
  }
  .card {
    margin: 0 auto 2rem;
  }
}

@media (max-width: 768px) {
  .cards {
    display: block;
    width: 100vw;
  }
  .card {
    margin: 0 auto 2rem;
  }
}
body{
    background-color: #FFDFD3;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
#linkedin{
  padding-left: 30px;
  
}
#gradpic{
  width: 25%;
  height:25%;
  border-radius: 50%;
  transform: scale(.8);
  float:right;
  border: 20px solid #FFF4F2;

}
.btn-linkedin {
  background: #A7C7E7;
  border-radius: 0;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #A7C7E7;
}
.btn-linkedin:link, .btn-linkedin:visited {
  color: #fff;
}
.btn-linkedin:active, .btn-linkedin:hover {
  background: #A7C7E7;
  color: #fff;
}
#libutton{
  float:left;
}
a{
  color:#6C5B7B;
}
#sp{
    float:right;
    padding-right: 50px;
    padding-left: 50px;
    height: 40%;
    width: 40%;
  }



@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

html{
  scroll-behavior: smooth;
}
.fit{
  max-width: 80%;
  max-height: 80%;
  padding-top: 40px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#logo{
  height: 40px;
  width: 55px;
  float: left;
  padding-right: 10px;
}
#title-minimi{
  height: 15%;
  width: 15%;
}


/* HOME BUTTON  */
.button-56 {
  align-items: center;
  background-color: #FFF4F2;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: "Modern Era";
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 50px;
  margin-left: 30%;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}


